/* Сброс стилей */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Основные стили */
body {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

/* Темная тема */
body[data-theme="dark"] {
  --tg-theme-dot-inactive-color: #666;
  --tg-theme-dot-active-color: #1E90FF;
  --tg-theme-tooltip-bg-color: #333; /* Цвет фона тултипа для темной темы */
  --tg-theme-tooltip-text-color: #fff; /* Цвет текста тултипа для темной темы */
}

/* Светлая тема */
body[data-theme="light"] {
  --tg-theme-dot-inactive-color: #ccc;
  --tg-theme-dot-active-color: #4A90E2;
  --tg-theme-tooltip-bg-color: #fff; /* Цвет фона тултипа для светлой темы */
  --tg-theme-tooltip-text-color: #333; /* Цвет текста тултипа для светлой темы */
}

/* Стили для тултипа */
[data-tour-elem="tooltipContainer"] {
  background-color: var(--tg-theme-tooltip-bg-color) !important;
  color: var(--tg-theme-tooltip-text-color) !important;
  border-radius: 0.5rem !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
  padding: 1rem !important;
  max-width: 300px !important;
  font-size: 0.875rem !important;
}

/* Стили для кружков */
[data-tour-elem="dot"] {
  width: 16px !important;
  height: 16px !important;
  background-color: var(--tg-theme-dot-inactive-color) !important;
  border-radius: 50% !important;
  margin: 0 4px !important;
}

[data-tour-elem="dot"].reactour__dot--is-active {
  background-color: var(--tg-theme-dot-active-color) !important;
}
